*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#111;
    color:white;
}

/* NAVBAR */
header {
    background: #000;
    color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
}

.logo span {
    color: red;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: red;
}
nav{
    background:black;
    padding:15px 100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h2{
    color:#f44336;
}



.active{
    border-bottom:2px solid #f44336;
}

/* HERO */
.hero{
    height:80vh;
    background:
    linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url("https://static.vecteezy.com/system/resources/previews/026/859/549/non_2x/of-fitness-equipment-and-personal-grooming-tools-on-a-clean-background-with-copy-space-free-photo.jpg") center/cover;
    display:flex;
    align-items:center;
}

.hero-content{
    width:60%;
    padding:50px;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    line-height:1.6;
}

.hero button{
    margin-top:25px;
    padding:12px 30px;
    background:#f44336;
    border:none;
    color:white;
    font-size:16px;
    cursor:pointer;
}

/* PRINCIPLES */
.principles{
    padding:60px;
    text-align:center;
}

.principle-box{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:40px;
}

.principle-box div{
    background:#222;
    padding:30px;
    width:250px;
    transition:0.3s;
}

.principle-box div:hover{
    transform:translateY(-10px);
    background:#f44336;
}

.principle-box i{
    font-size:35px;
    margin-bottom:15px;
}

/* STATS */
.stats{
    display:flex;
    justify-content:space-around;
    background:#000;
    padding:40px;
}

.stats h3{
    font-size:40px;
    color:#f44336;
}

/* GALLERY */
.gallery{
    padding:60px;
    text-align:center;
}

.images{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.images img{
    width:300px;
    height:350px;
    border-radius:10px;
}

/* VIDEO */
.video {
    text-align: center;
    padding: 60px 20px;
    background: #111;
    color: #fff;
}

.video-box {
    max-width: 900px;
    margin: auto;
}

.video-box iframe {
    width: 100%;
    height: 450px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}
.youtube-link {
    display: inline-block;
    padding: 15px 25px;
    background: #ff0000;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.youtube-link:hover {
    background: #cc0000;
    box-shadow: 0 0 12px red;
}


/* CERTIFICATES */
.certificates{
    padding:60px;
    text-align:center;
}

.cert-box{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:20px;
}

.cert-box img{
    width:220px;
    height: 220px;
    border:3px solid #f0f0f0;
}

/* FOOTER */
footer{
    background:black;
    text-align:center;
    padding:15px;
}
/* CONTACT INFO SECTION */
.contact-info{
    background:
    linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),
    url("images/footer-bg.jpg") center/cover;
    padding:60px 50px;
}

.info-box{
    display:flex;
    justify-content:space-between;
    max-width:1000px;
    margin:auto;
}

.info{
    width:45%;
}

.info h2{
    color:red;
    margin-bottom:20px;
}

.info p{
    margin:10px 0;
    font-size:16px;
}

.info i{
    color:red;
    margin-right:10px;
}

/* Social Icons */
.social-icons{
    margin-top:15px;
}

.social-icons i{
    border:1px solid white;
    padding:10px;
    border-radius:50%;
    margin-right:10px;
    cursor:pointer;
    transition:0.3s;
}

.social-icons i:hover{
    background:red;
    border-color:red;
}

/* Responsive */
@media(max-width:768px){
    .info-box{
        flex-direction:column;
        text-align:center;
    }
    .info{
        width:100%;
        margin-bottom:40px;
    }
}
